<h1>Listing trucks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.title %></td>
        <td><%= truck.text %></td>
        <td><%= link_to 'Show', truck_path(truck) %></td>
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck_path(truck),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<div>
  <%= link_to 'Add Truck', new_truck_path %>
</div>
