<p>
  <strong>Title:</strong>
  <%= @truck.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @truck.text %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @truck.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @truck.longitude %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@truck.latitude}%2C#{@truck.longitude}" %>
</p>

<%= link_to 'Back', trucks_path %>
<%= link_to 'Trucks List', controller: 'trucks' %>
<%= link_to 'Edit', edit_truck_path(@truck) %>